.card .card-img, .card .card-overlay {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #262626;
}

html {
  font: size 62.5%;
}

.header {
  width: 100%;
  height: 100vh;
  font-weight: 300;
  color: #bbb;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1479044769763-c28e05b5baa5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  background-position: center;
}
.header .brand {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.brand {
  display: flex;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.footer {
  color: #bbb;
}
.footer li {
  list-style: none;
}

.logo {
  display: block;
  margin: 16px 16px 16px 0;
}

.logo img {
  height: 150px;
  width: 150px;
}

.main-name {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 3.6em;
  font-family: "Nunito", sans-serif;
  margin-top: 16px;
}

.sub-name {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 16px;
}

.main-heading {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: "Dancing Script", cursive;
  color: #d3ab55;
  font-size: 7rem;
  margin-bottom: 20px;
}

.sub-heading {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5rem;
}

.card-overlay-btn {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #d3ab55;
  background-color: #fff;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 18px;
  width: 200px;
  height: 60px;
  text-transform: uppercase;
  border: 1px solid #d3ab55;
  border-radius: 30px;
  outline: none;
  margin-top: 36px;
  cursor: pointer;
}

.card {
  width: 33.3333%;
  height: 30vw;
  overflow: hidden;
  position: relative;
}
.card .card-img {
  object-fit: cover;
  opacity: 0.5;
}
.card .card-overlay {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-size: 36px;
  background-color: rgba(211, 171, 85, 0.6);
  flex-direction: column;
  transition: left 0.7s;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 10;
}
.card .card-overlay .card-overlay-heading {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.card:hover .card-overlay {
  left: 0;
}

.footer-header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  position: absolute;
  top: 230%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  position: absolute;
  top: 250%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social-media .fab {
  color: #bbb;
  text-decoration: none;
  font-size: 60px;
  transition: color 0.7s;
  width: 100px;
}
.social-media .fab:hover {
  color: #d3ab55;
}

.footer-copyright {
  position: absolute;
  top: 265%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  padding: 120px;
}

/*# sourceMappingURL=main.css.map */
