@use "base" as *;

// logo

.logo {
  display: block;
  margin: 16px 16px 16px 0;
}

.main-name {
  // なんで大文字にならないの
  @include textStyles(uppercase);
  font-size: 3.6em;
  font-weight: 300;
  font-family: $font-nunito;
  margin-top: 16px;
}

.sub-name {
  margin-top: 16px;
  font-size: 1.6rem;
  font-weight: 300;
  text-transform: uppercase;
  font-family: $font-josefinSans;
}

.logo img {
  height: 150px;
  width: 150px;
}

// main-name

.header-banner {
  .main-heading {
    @include centering(45%);
    font-family: $font-dancingScript;
    color: $color-primary;
    font-size: 7rem;
    font-weight: 300;
    margin-bottom: 20px;
  }

  .sub-heading {
    @include centering(60%);
    font-family: $font-josefinSans;
    font-size: 3.5rem;
    font-weight: 300;
  }
}

// sub-name

// main-heading

// sub-heading

// main-btn

// card
